@media only screen and (min-width: 992px) and (max-width: 1200px) {
  .single-service {
    padding: 20px 5px;
  }

  .mylinks {
    margin-top: 330px;
  }
}

@media only screen and (min-width: 768px) and (max-width: 992px) {
  .single-counter h4 {
    font-size: 35px;
  }

  .single-counter p {
    font-size: 15px;
  }

  .navbar-toggler {
    background-color: #fff;
  }

  .navbar-collapse {
    background-color: #fff;
    padding: 10px;
    margin-top: 15px;
  }

  .navbar-collapse a {
    color: #333 !important;
    text-align: center;
  }

  .mylinks {
    margin-top: 400px;
  }
}

@media only screen and (min-width: 400px) and (max-width: 768px) {
  .navbar-toggler {
    background-color: #fff;
  }

  .navbar-collapse {
    background-color: #fff;
    padding: 10px;
    margin-top: 15px;
  }

  .navbar-collapse a {
    color: #333 !important;
    text-align: center;
  }

  .about-content ul {
    width: 100%;
    margin-bottom: 0;
  }
  .about-content ul li {
    margin-bottom: 7px;
  }

  .about-content {
    text-align: center;
  }

  .about-content h3 {
    line-height: 45px;
    margin-top: 20px;
  }

  .btn-box {
    margin-top: 20px;
  }

  .timeline-list::after,
  .timeline-list li::after {
    display: none;
  }
  .timeline-list li .timeline-content {
    width: 100%;
    text-align: center;
    margin-bottom: 30px;
  }
  .timeline-list li:nth-child(2n) .timeline-content {
    float: none;
    text-align: center;
  }

  .single-price,
  .single-team,
  .single-blog {
    margin-bottom: 30px;
  }
  .mylinks {
    margin-top: 500px;
  }
}

@media only screen and (min-width: 0px) and (max-width: 400px) {
  .navbar-toggler {
    background-color: #fff;
  }

  .navbar-collapse {
    background-color: #fff;
    padding: 10px;
    margin-top: 15px;
  }

  .navbar-collapse a {
    color: #333 !important;
    text-align: center;
  }

  .mylinks {
    margin-top: 500px;
  }
  .mylinks a {
    font-size: 40px;
  }
  .about-content h3 {
    text-align: center;
    margin-top: 20px;
    line-height: 38px;
  }

  .about-content {
    text-align: center;
  }
  .timeline-list::after,
  .timeline-list li::after {
    display: none;
  }
  .timeline-list li .timeline-content {
    width: 100%;
    text-align: center;
    margin-bottom: 30px;
  }
  .timeline-list li:nth-child(2n) .timeline-content {
    float: none;
    text-align: center;
  }

  .single-price,
  .single-team,
  .single-blog {
    margin-bottom: 30px;
  }
}
